$main: #2F80ED;
$primary: #2F80ED;
$tertiary: #F8B76B;
$blue: #2F80ED;
$light-blue: #E9F3FF;
$indigo: #8785FF;
$purple: #9561e2;
$pink: #f66d9b;
$red: #EB5757;
$orange: #F8B76B;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$black: #151f2d;
$gray: #4F4F4F;
$white-gray: #E0E0E0;
$dark-gray: #4F4F4F;
$border-color: #e5e7eb;